<!DOCTYPE html>
<html>
<head>
    <title>Generated Plots</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
<div class="container mt-5">
    <h1 class="text-center mb-4">Your Plots are Ready!</h1>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-4">
            <h5>Fixation Map Preview</h5>
            <img src="/static/fixation_map.png" class="img-fluid border rounded" alt="Fixation Map">
            <br><br>
            <a href="/static/fixation_map.png" download class="btn btn-success mt-2">Download Fixation Map</a>
        </div>
        <div class="col-md-6 text-center mb-4">
            <h5>Pupil Size Heatmap Preview</h5>
            <img src="/static/pupil_size_heatmap.png" class="img-fluid border rounded" alt="Pupil Size Heatmap">
            <br><br>
            <a href="/static/pupil_size_heatmap.png" download class="btn btn-success mt-2">Download Pupil Size Heatmap</a>
        </div>
    </div>
    <div class="text-center">
        <a href="/" class="btn btn-secondary mt-4">Upload Another File</a>
    </div>
</div>
</body>
</html>
